:host::ng-deep {
  .container {
    ngb-carousel {
      .picsum-img-wrapper {
        width: 1228px;
        height: 460px;
        img {
          width: 100%;
          border-radius: 3rem;
        }

        .manuel_slider_container {
          // opacity: 0.5882352941;
          // background-color: white;
          // border-radius: 3rem;
          position: absolute;
          // width: 129px;
          // height: 52px;
          // bottom: 20px;
          // right: 80px;
          display: flex;
          align-items: center;
          ul {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            // li {
            //   list-style: none;
            //   display: inline;
            //   div {
            //     background-color: rgba(87, 87, 86, 1);
            //     height: 12px;
            //     width: 12px;
            //     border-radius: 50%;
            //     display: inline-block;
            //   }
            //   div.selected {
            //     background-color: #009640;
            //   }
            // }
          }
        }
      }

      .carousel-indicators {
        opacity: 0.5882352941;
        background-color: white;
        border-radius: 3rem;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        width: 129px;
        height: 52px;
        bottom: 20px;
        left: calc(100% - 220px);

        li {
          background-color: rgba(87, 87, 86, 1);
          height: 12px;
          width: 12px;
          border-radius: 50%;
          z-index: 5 !important;
          margin: 0 5px;
          cursor: pointer;
        }

        li.active {
          background-color: #009640;
          z-index: 5 !important;
          padding: 0 5px;
          cursor: pointer;
        }
      }
    }
  }
}

.brand_slider {
  background-color: white;
  height: 121px;
  display: flex;
  padding: 0px 110px 0px 110px;
  align-items: center;

  .navigation_arrow {
    width: 25px;
    color: #009640;
    display: flex;
    align-items: center;
  }

  .logo_container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    padding: 10px;

    img {
      margin: 0px 10px 0px 10px;
      cursor: pointer;
    }
    .pasive_brand {
      opacity: 0.1;
    }
  }
}

@media screen and (max-width: 1700px) {
  .brand_slider {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 1350px) {
  .pasive_brand {
    display: none;
  }
}
:host::ng-deep {
  @media screen and (max-width: 1200px) {
    .picsum-img-wrapper {
      width: auto !important;
      height: auto !important;
    }

    .manuel_slider_container {
      width: fit-content !important;
      height: fit-content !important;
      right: 0 !important;
      top: 0;

      ul {
        gap: 10px;
      }
    }
  }
}
