<div id="bestSellers">
  <div class="header-section col-lg-12">
    <label class="header">
      Çok Satanlar
    </label>
  </div>

  <div id="bestSellersContainer" class="">
    <div class="product" *ngFor="let product of products">
      <div class="image_container">
        <img src="{{product.image}}" alt="item.name">
      </div>
      <div class="label_container"> <label>{{product.name}} </label></div>
      <div class="chart_container">
        <div class="price_area"> <span class="price">{{product.price | currency:'EUR':'symbol':'1.2-2' }}</span>
        </div>
        <div class="chart">
          <a *ngIf="product.count == 0" (click)="addToChart(product.id)" class="basket" type="button"><i
              class="fa fa-shopping-cart"></i></a>
          <div *ngIf="product.count !== 0" class="counter">
            <a type="button" (click)="changeChartCount(product.id, false)" class="minus"><i class="fa fa-minus-circle"
                aria-hidden="true"></i></a>
            <span class="count"> {{product.count}} </span>
            <a type="button" (click)="changeChartCount(product.id, true)" class="plus"><i class="fa fa-plus-circle"
                aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
