<div id="mobileApp" class="col-lg-12">
  <div id="mobileContent">
    <div class="logo_container">
      <div> <img src="../../../../../assets/mobile/google_play_link.png" alt="google_link"> </div>
      <div> <img src="../../../../../assets/mobile/apple_link.png" alt="apple_link"> </div>
      <div> <img src="../../../../../assets/mobile/huawei_link.png" alt="huawei_link"> </div>
    </div>
    <div class="label_container">
      <div class="header-section col-lg-12">
        <label class="header">
          Dünya Markaları Cebinizde!
        </label>
      </div>
      <div class="content">
        <p>Mobil uygulamamızı indirin, her yerden kolay alışveriş imkanı sağlayın.</p>
        <p> QR Kodu okut uygulamayı hemen indir!</p>
      </div>
    </div>
    <div class="qr_container">
      <img src="../../../../../assets/mobile/qr_code.png" alt="qr_code">
    </div>
  </div>
</div>
