<div id="footerContent">
  <div id="topContent">
    <div id="siteTree">
      <div id="greyFoodTree">
        <div class="header-section">
          <label class="header">
            Greyfood
          </label>
        </div>
        <label for="">Kurumsal</label>
        <label for="">Blog</label>
        <label for="">Katalog</label>
        <label for="">İletişim</label>
      </div>
      <div id="helpTree">
        <div class="header-section">
          <label class="header">
            Yardım
          </label>
        </div>
        <label for="">Teslimat Bilgileri</label>
        <label for="">Gizlilik ve Güvenlik</label>
        <label for="">Sıkça Sorulan Sorular</label>
        <label for="">İptal ve İade Koşulları</label>
      </div>
    </div>
    <div id="connectionLinks">
      <img id="mainLogo" src="../../../../assets/nav/logo.png" alt="logo">
      <div id="socialMedia">
        <img src="../../../../assets/footer/facebook.png" alt="facebook">
        <img src="../../../../assets/footer/twitter.png" alt="twitter">
        <img src="../../../../assets/footer/instagram.png" alt="instagram">
        <img src="../../../../assets/footer/linkedin.png" alt="linkedin">
      </div>
      <div id="callUs">
        <div id="logoContainer">
          <div><img src="../../../../assets/footer/phone.png" alt="phone"></div>
          <div>Bizi Ulaşın</div>
        </div>
      </div>
    </div>
    <div id="mobileLogos">
      <img src="../../../../assets/mobile/apple_link.png" alt="apple_link">
      <img src="../../../../assets/mobile/google_play_link.png" alt="google_play_link">
      <img src="../../../../assets/mobile/huawei_link.png" alt="huawei_link">
    </div>
  </div>
  <div id="bottomContent">
    <div id="agreements">
      <label for="">KVKK</label>
      <label class="seperator" for="">|</label>
      <label for="">Mesafeli Satış Sözleşmesi</label>
      <label class="seperator" for="">|</label>
      <label for="">Üyelik Sözleşmesi</label>
    </div>
    <div id="development">
      © Copyright Greyfood
    </div>
    <div id="payment">
      <img src="../../../../assets/footer/masterpass.png" alt="masterpass">
      <img src="../../../../assets/footer/paypal.png" alt="paypal">
      <img src="../../../../assets/footer/deutsche_bank.png" alt="deutsche_bank">
    </div>
  </div>
</div>
