<div class="nav-container col-lg-12">
  <div class="top-row col-lg-12">
    <div class="login-info">
      <label for="">Merhaba <span class="name">Ergin</span></label>
    </div>
    <div class="basket-info">
      <button class="btn btn-success"> <i class="fa fa-shopping-cart"> <span>Sepetim</span></i>
        <div class="count">{{getChartCount()}}</div>
      </button>

    </div>
    <div class="language-info">
      <select name="language" id="language">
        <option value="Türkçe">Türkçe <span class="fi fi-gr"></span> <span class="fi fi-gr fis"></span>
        </option>
      </select>
    </div>
  </div>
  <div class="bottom-row col-lg-12">
    <div class="left-side">
      <div class="brand-logo">
        <img src="../../../../../assets/nav/logo.png" alt="">
      </div>
      <div class="nav-items">
        <ul>
          <li><a type="button"> <i class="fa fa-tags"></i> Kampanyalar</a></li>
          <li><a type="button"> <i class="fa fa-list-ul"></i> Blog</a></li>
          <li><a type="button"> <i class="fa fa-file-text"></i> Katalog</a></li>
          <li><a type="button" class="btn btn-outline-success"> Tüm Kategoriler</a></li>
        </ul>
      </div>
    </div>
    <div class="right-side">
      <div class="search-bar">
        <span><i class="fa fa-search"></i></span>
        <input class="search" type="text" placeholder="Site içinde arama yapın...">
      </div>
    </div>
  </div>
</div>
