<div id="steps_container">
  <div id="stepHeader">
    <label for="">GREYFOOD Alışveriş Süreci</label>
  </div>

  <div id="steppers" class="">
    <div class="step_container">
      <div class="dot">
        <img src="../../../../../assets/steps/step1.png" alt="">
      </div>
      <div class="step_info">
        <label for="">Ürünü Sepete Ekle</label>
      </div>
    </div>
    <div class="arrow">
      <img src="../../../../../assets/steps/arrow.png" alt="">
    </div>
    <div class="step_container">
      <div class="dot">
        <img src="../../../../../assets/steps/step2.png" alt="">
      </div>
      <div class="step_info">
        <label for="">Konteyner Tipini Seç</label>
      </div>
    </div>
    <div class="arrow">
      <img src="../../../../../assets/steps/arrow.png" alt="">
    </div>
    <div class="step_container">
      <div class="dot positionRelative">
        <img id="downArrow" src="../../../../../assets/steps/step3.png" alt="">
        <img src="../../../../../assets/steps/step2.png" alt="">
      </div>
      <div class="step_info">
        <label for="">Konteynere Biraz Daha Ürün Ekle</label>
      </div>
    </div>
    <div class="arrow">
      <img src="../../../../../assets/steps/arrow.png" alt="">
    </div>
    <div class="step_container">
      <div class="dot">
        <img src="../../../../../assets/steps/step4.png" alt="">
      </div>
      <div class="step_info">
        <label for="">Ek Hizmet Seçimi Yap</label>
      </div>
    </div>
    <div class="arrow">
      <img src="../../../../../assets/steps/arrow.png" alt="">
    </div>
    <div class="step_container">
      <div class="dot">
        <img src="../../../../../assets/steps/step5.png" alt="">
      </div>
      <div class="step_info">
        <label for="">Alışveriş İsteğini Gönder</label>
      </div>
    </div>
    <div class="arrow">
      <img src="../../../../../assets/steps/arrow.png" alt="">
    </div>
    <div class="step_container">
      <div class="dot">
        <img src="../../../../../assets/steps/step5.png" alt="">
      </div>
      <div class="step_info">
        <label for="">Sizinle İletişime Geçelim</label>
      </div>
    </div>
  </div>
</div>
